* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  color: black;
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: white;
}
code {
  font-size: inherit;
  font-family: Jetbrains Mono, monospace;
  font-weight: 400;
  line-height: inherit;
}
